language: go
install:
- go get -v github.com/spf13/hugo
script:
- hugo version
- make build

after_success:
  - git checkout build
  - git reset --hard
  - git checkout master public
  - git add .
  - git commit -m "new build"

deploy:
  provider: pages
  local-dir: public
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master