language: go
install:
- go get -v github.com/spf13/hugo
script:
- hugo version
- make build
branches:
  only:
  - master  

deploy:
  provider: pages
  target-branch: build
  local-dir: public
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master