<body>
    <nav class="navbar flex">
        <div class="container flex">
            <div class="brand">
                <img src="{{.Site.BaseURL}}rag-64.png" alt="relational agents logo" />
                <a href="/" class="brand">{{ .Site.Title }}</a>
            </div>
            <ul class="pages flex">
            {{ if .Site.Menus.main }}
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="{{ if eq (lower $currentPage.Title) .Name }}active{{ end }}">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            {{ end}}
            </ul>
        </div>
    </nav>
