<body class="flex f-column f-jc-between">
    <nav class="navbar flex f-jc-center f-a-center full-width">
        <div class="container flex f-a-center">
            <a href="/index.html" class="brand flex f-a-center">
                <img src="{{ "rag-64.png" | relURL }}" alt="relational agents logo" />
                <span>{{ .Site.Title }}</span>
            </a>
            <ul class="pages flex f-a-center">
            {{ if .Site.Menus.main }}
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="{{ if eq (lower $currentPage.Title) .Name }}active{{ end }}">
                        <a href="{{ .URL }}/index.html">{{ .Name }}</a>
                        {{ if .HasChildren }}
                            <ul class="sub-menu flex f-column">
                            {{ range .Children }}
                                <li>
                                    <a href="{{ .URL }}/index.html">{{ .Name }}</a>
                                </li>
                            {{ end }}
                            </ul>
                        {{ end }}
                    </li>
                {{ end }}
            {{ end}}
            </ul>
        </div>
    </nav>
