{{ define "main" }}
    <div class="container">
        <h1 class="page-title text-center">{{ .Title }}</h1>
        <div id="projects" class="grid">
        {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="project flex f-row f-jc-start">         
                {{ with .Resources.GetMatch "main image" }}
                {{ $image := . }}
                {{ $resize := $image.Fill "64x64 smart" }}
                <img class="project-image" src="{{ $resize.RelPermalink }}" />
                {{ end }}
                <div class="project-info">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Params.description }}</p>
                </div>
            </a>
        {{ end }}
        </div>
    </div>
{{ end }}