{{ define "main" }}
    {{ $title := .Title }}
    <div class="container">
            <a class="back-link" href="/project/"><i class="fas fa-chevron-left"></i>Go back</a>
            <h1 class="page-title">{{ $title }}</h1>
            {{ with .Resources.GetMatch "main image" }}
                <img class="main-image" src="{{ .Permalink }}" alt="{{ .Name }}"/>
            {{ end }}
            {{ .Content }}
            {{ if .Params.related_pubs }}
            <section class="related-publications">
                <h2> Publications </h2>
                <ul>
                {{ range .Site.Pages}}
                    {{ if (and (eq .Type "publication") (eq .Params.project $title))}}
                    <li>
                        <p>{{ .Title }}</p>
                        <p>{{ .Params.year }}</p>
                        {{ if .Resources }}
                            {{ with .Resources.GetMatch "*" }}
                                <a class="dl-link" href="{{ .RelPermalink }}" download >download <i class="far fa-download"></i><i class="far fa-file-pdf"></i></a>
                            {{ end }}
                        {{ end }}
                    </li>
                    {{ end }}
                {{ end }}
                </ul>
            </section>
            {{ end }}
            {{ with .Resources.GetMatch "demo" }}
            <section class="demo">
                <p>There is a demo</p>
            </section>
            {{ end }}
    </div>
{{ end }}