@import url('https://fonts.googleapis.com/css?family=Roboto:400, 500');

:root {
    --main-text-color: hsla(0, 0%, 0%, .8);
    --inverse-text-color:  hsla(0, 0%, 100%, .8);
    --primary-font: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 2;
    background-color: hsl(0, 0%, 95%);
}

figure {
    margin: 0 16px 0 0;
}

a {
    display: inline-block;
}

i.fas, i.far {
    margin: 4px;
}

.back-link {
    clear: left;
    margin-bottom: 16px;
}

.news-item .exposition a {
    color: var(--inverse-text-color);
}

.back-link,
.dl-link, 
.view-link {
    color: var(--main-text-color);
}

.news-item .exposition a,
.back-link,
.dl-link, 
.view-link {
    opacity: 1;
    transform: scale(1);
    transition: opacity .2s ease-in-out,
                transform .2s ease-in-out;
}


.news-item .exposition a:hover,
.back-link:hover,
.dl-link:hover,
.view-link:hover {
    transition: opacity .2s ease-in-out,
                transform .2s ease-in-out;
    opacity: .8;
    transform: scale(.95);
}

.container {
    height: inherit;
    margin: 0 auto;
    max-width: 1100px;
    min-width: 80%;
    padding: 0 16px;
    justify-content: space-between;
}

.container.flex.f-row {
    align-items: flex-start;
}

.grid {
    display: grid;
}

.pagination {
    margin: auto;
    justify-content: center;
    list-style:none;
    padding: 0;
}

.pagination .page-item {
    margin: 8px;
}

#current-members {
    margin-bottom: 32px;
}

#current-members,
#past-members {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#press, 
#projects,
#publications {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#publications, 
#press, 
#projects,
#current-members,
#past-members {
    grid-template-rows: auto;
    grid-gap: 8px 16px;
}


.hint {
    opacity: .5;
    justify-self:center;
}

.team-member img {
    margin-right: 16px;
}

.pub-section, 
.project,
.press-item {
    color: unset;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.pub-section h2, .pub-section p, .pub-section h3 {
    color: hsla(0, 0%, 0%, .8);
}

.pub-section h3 {
    font-size: 1.4em;
}

.pub-section p {
    font-size: 1.2em;
}

.pub-section {
    align-items: center;
}

.pub-sec-total {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    border: solid 2px hsl(180, 100%, 50%);
}

.demo-vid {
    margin-bottom: 16px;
}

.demo-vid,
.press-item, 
.pub-section, 
.project,
.team-member {
    font-size: 12px;
    padding:24px;
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 0%, .1);
    border-top: 3px solid hsl(207, 100%, 50%);
    background: white;
}

.pub-section:hover, 
.project:hover, 
.press-item:hover,
#current-members .team-member:hover {
    transition: transform .2s ease-in-out, border-top-color .2s ease-in-out;
    transform: scale(0.98);
    border-top-color: hsl(180, 100%, 50%);
}

.project-info h2,
.pub-section h2,
.press-item .press-title {
    font-size: 1.4em;
    margin:0;
}

.project-image {
    flex-shrink: 0;
    margin-right: 24px;
}


.page-title {
    margin-bottom: 32px;
}

.publication-list {
    justify-content: flex-start;
    margin: 32px 0;
}

.publication {
    padding: 8px;
}

.publication:nth-child(odd) {
    background: rgba(102, 199, 255, 0.856);
}

.aside-nav {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgba(19, 19, 19, 0.9);
    position: sticky;
    align-self: flex-start;
    top: 16px;
    margin-top: 32px;
    margin-left: 24px;
    padding: 16px;
}

.aside-nav hr {
    width: 100%;
    color: white;
    border: 1px solid;
}

.aside-nav a:hover {
    color: rgb(200,200,200);
}

.aside-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-nav li {
    margin: 4px 0;
}

.aside-nav ul li ul {
    padding-left: 8px;
    color:white;
}

.aside-nav ul li ul li::before {
    content: '->'
}

.aside-nav h4{
    color: white;
}

.aside-nav a {
    color: white;
}

.aside-nav a.active {
    color: rgba(102, 199, 255, 0.856);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-column {
    flex-direction: column;
}

.f-jc-between {
    justify-content: space-between;
}

.f-jc-start {
    justify-content: flex-start;
}

.f-jc-center {
    justify-content: center;
}

.f-jc-end {
    justify-content: flex-end;
}

.navbar {
    width: 100%;
    justify-content: center;
    flex-shrink: 0;
    height: 64px;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-text-color);
    transform: scale(1);
    transition: transform .2s ease-in-out, 
                color .2s ease-in-out;
}

.navbar a:hover {
    color: blue;
    transform: scale(.95);
    transition: transform .2s ease-in-out, 
                color .2s ease-in-out;
}

.navbar .pages li {
    position: relative;
}

.navbar .pages li:hover .sub-menu {
    display: flex;
    align-items: stretch;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

.pages li .sub-menu li {
    margin: 0;
}

.demo-vid{
    align-items:center;
}

.demo-vid h2 {
    margin: 0 0 16px;
}


.sub-menu li a {
    display: block;
    padding: 16px 24px;
    font-size: .9em;
    text-align: center;
    background: hsla(0, 0%, 20%, 1);
    color: hsla(0, 0%, 100%, .95);
}

.sub-menu li a:hover {
    background: hsla(0, 0%, 35%, 1);
    color: hsla(0, 0%, 100%, .8);
}

.active a{
    color: blue;
}

div.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 32px;
    height: 32px;
    margin: 8px 8px 8px 0;
}

.navbar, .container, .navbar ul {
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    margin: 0 16px;
}

.main-image {
    height: auto;
    width: 50%;
    float: left;
    margin: 0 16px 0 0;
}

#footer {
    flex-shrink: 0;
    align-items:center;
    justify-content: center;
    height: 155px;
    color: var(--inverse-text-color);
    background: hsl(0, 0%, 8%);
}

/* Home Styles */

.jumbotron {
    background: linear-gradient(130deg, rgba(255,255, 255, 1) 0%, rgba(255, 255,255, .99) 33%, rgba(109, 210, 255, .8)  100%), url('/img/Co-Watcher4.png') no-repeat;
    background-size: cover;
    background-position: center 25%;

}


#home section {
    padding: 32px 0;
    height: 400px;
}

#home #news {
    background: linear-gradient(45deg,#80D6FC, #5AFBDF);
}

#team {
    background: url('/img/Group_2016.jpg') no-repeat 50vw;
    background-size: 50%;
}

#explore {
    background: url('/img/Group_2016.jpg') no-repeat 0vw;
    background-size: 50%;
}

#team .section-content, #explore .section-content {
    width: 50%;
}

#explore .section-content {
    position: relative;
    left: 50%;
}

#news button {
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    font-size: 1.25em;
    border:none;
    background: hsla(0, 0%, 0%, 0.33);
    transition: transform 0.2s ease-in-out;
}

.detail-container button:hover,
#news button:hover {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(.90);
}


.carosel {
    overflow: hidden;
    position: relative;
    width: 75%;
    height: 100%;
}

.news-item {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 12.5%;
    transform: translateY(-50%);
    display: none;
}

.news-item .exposition {
    color: var(--main-text-color);
    font-size: .9em;
}


.news-item .date {
    text-align: right;
    font-size: 1.1em;
}

.demo-section {
    margin-top: 32px;
    flex-grow:2;
}

.demo-article {
    margin-top: 32px;
    flex-grow: 2;
    max-width: 65%;
    flex-shrink: 1;
}

.demo-article p img {
    text-align: center;
}

.demo-article img {
    width: 85%;
    height: auto;
    margin: auto;
}


.news-item.active {
    display: block;
}

.subtitle {
    margin-bottom: 24px;
    font-size: 0.85em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.description {
    font-size: 2em;
}

.half-width {
    width: 50%;
}

.section-content {
    box-sizing: border-box;
    height: 100%;
}

.detail-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: hsla(0, 0%, 0%, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-container button {
    color: red;
    font-size: 1.3em;
    background: transparent;
    border: none;
}

.detail-container button:hover {
    cursor: pointer;
}

.highlight {
    color: #4AA2EA;
}

.float-r {
    float: right;
}

.member-card {
    border: 1px solid hsla(0, 0%, 0%, .1);
    width: 45%;
    padding: 32px;
    border-radius: 2px;
    background: white;
}

@media (max-width: 1500px ) {
    #team {
        background-size: 75%;
    }
    #explore {
        background-size: contain;
        background-position-x: calc(100% - 50vw);
    }
}

@media (max-width: 975px ) {
    #team {
        background-size: 100%;
    }
}

@media (max-width: 728px ) {
    #team {
        background-size: 100%;
        background-position-x: 0%;
        background-position-y: 232px;
    }
}

@media (max-width: 728px ) {
    #team {
        background-size: 100vw;
    }
    #team .container {
        align-items: flex-start;
    }
    #team .section-content {
        width: 100%;
        height: 200px;
        padding:0;
    }
}

@keyframes slideIn {
    from {
        transform: translate(500px, -50%);
    }

    to {
        transform: translate(0px, -50%);
    }
}