{{ define "styles" }}
    <link rel="prefetch" href="{{ .Site.BaseURL }}img/jumbotron.png" as="image" />
    <link rel="prefetch" href="{{ .Site.BaseURL }}img/explore.png" as="image" />
    <link rel="prefetch" href="{{ .Site.BaseURL }}img/team-photo.jpg" as="image" />
{{ end }}

{{ define "main" }}
<div id="home">
    <section class="jumbotron">
        <div class="container">
            <div class="section-content flex f-column f-jc-center half-width">
                <h2 class="subtitle">Research</h2>
                <h1 class="description">Designing Conversational Agents</h1>
                <p class="exposition">We work on health education problems.</h3>
            </div>
        </div>
    </section>
    <section id="explore">
        <div class="container flex">
            <div class="section-content flex f-column f-jc-center half-width">
                <h2 class="subtitle">projects</h2>
                <h2 class="description">Explore our Projects</h2>
                <p class="exposition">We are investigating the use of these Relational Agents in task domains in which human-agent relationships actually improve task outcomes, such as in coaching, counseling, psychotherapy and healthcare.</p>
                <a class="explore-btn" href="/project">explore our projects<i class="fas fa-chevron-right"></i></a>
                <a class="explore-btn" href="/publication">explore our publications<i class="fas fa-chevron-right"></i></a>
            </div>  
        </div>
    </section>
    <section id="news">
        <div class="container flex f-jc-center f-a-center">
            <button id="prev-item"><i class="fas fa-chevron-left"></i></button>
            <div class="carosel">
            {{ range $index, $value := .Site.Data.news.news }}
            <div class="news-item {{ if (eq $index 0) }}active{{ end }}">
                <h2 class="subtitle">{{ .type }}</h2>
                <h3 class="description">{{ .title | title }}</h3>
                <p class="exposition">{{ .details | markdownify }}</p>
                <p class="date">{{ .date }}</p>
            </div>
            {{ end }}
            </div>
            <button id="next-item"><i class="fas fa-chevron-right"></i></button>
        </div>
    </section>
    <section id="team">
        <div class="container flex">
            <div class="section-content flex f-column f-jc-center">
                <h2 class="subtitle">Team</h2>
                <h2 class="description">Meet the People behind our research</h2>
                <p class="exposition">Our team advance the state of the art through research and software engineering.</p>
                <a class="explore-btn" href="/people">meet the team <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </section>
</div>
{{ end }}

{{ define "scripts" }}
    <script src="{{ .Site.BaseURL }}js/news-gallery.js" async></script>
{{ end }}