{{ define "main" }}
    <div id="gallery" class="container grid">
    {{ range .Pages }}
        <figure class="image" 
                data-name="{{ .Params.name }}" 
                data-bio="{{ .Params.bio }}" 
                data-position="{{ .Params.position }}">
            <h1>{{ .Params.name }}</h1>
            <h2>{{ .Params.position }}</h2>
            {{ with .Resources.GetMatch "**.jpg"}}
                <img src="{{ .Permalink }}" alt="{{ .Name }}"/>
            {{ end }}
        </figure>
        {{ end }}
    </div>
{{ end }}

{{ define "scripts" }}
    {{with .Resources.GetMatch "gallery script" }}
    <script src="{{ .Permalink }}"></script>
    {{ end }}
{{ end }}