{{ define "main" }}
    <div class="container">
        <div id="gallery" class="flex f-column">
            <h1 class="page-title text-center">Current Team</h1>
            <section id="current-members" class="grid">
                {{ $images := (.Resources.ByType "image") }}
                {{ range sort $images ".Params.weight" }}
                {{ if not .Params.alumni }}
                {{ $image := . }}
                {{ $resize := $image.Fill "100x140 smart" }}
                <button class="team-member flex f-row f-jc-start"
                        data-name="{{ .Name }}"
                        data-bio="{{ .Params.bio }}"
                        data-role="{{ .Params.role }}"
                        data-website="{{ .Params.website }}"
                        role="button"
                        aria-label="more information about {{ .Name }}">
                    <img class="member-image" src="{{ $resize.RelPermalink }}" alt="{{ .Name }}" />
                    <div class="member-details flex f-column">
                        <h3 class="name">{{ .Name }}</h3>
                        <p class="role">{{ .Params.role }}</p>
                        <p class="hint">click to learn more.</p>
                    </div>
                </button>
                {{ end }}
                {{ end }}
            </section>
            <h1 class="page-title text-center">Alumni</h1>
            <section id="past-members" class="grid">
                {{ range sort (.Resources.ByType "image") ".Params.weight" }}
                    {{ if .Params.alumni }}
                        {{ $image := . }}
                        {{ $resize := $image.Fill "100x140 smart" }}
                    <figure class="team-member flex f-row f-jc-start">
                        <img class="member-image" src="{{ $resize.RelPermalink }}" alt="{{ .Name }}" />
                        <div class="member-details">
                            <h3 class="name">{{ .Name }}</h3>
                            <p class="role">{{ .Params.role }}</p>
                        </div>
                    </figure>
                    {{ end }}
                {{ end }}
            </section>
        </div>
{{ end }}

{{ define "scripts" }}
    {{with .Resources.GetMatch "gallery script" }}
    <script src="{{ .Permalink }}" async></script>
    {{ end }}
{{ end }}