@import url('https://fonts.googleapis.com/css?family=Roboto:400, 500');

i.fas, i.far {
    margin: 4px;
}

.back-link {
    clear: left;
    margin: 16px 0 16px;
}

.demo-div {
    padding: 32px 0;
}

.demo-div h2 {
    margin: 16px 0;
}

.explore-btn {
    border: 2px solid rgb(90, 90, 90);
    padding: 8px 12px;
    color: hsl(207,100%, 50%);
    margin: 8px 0;
    border-radius: 5px;
    align-self: flex-start;
    text-decoration: none;
    background: transparent;
    transition: all .2s ease-in-out;
}

.explore-btn:visited {
    color: hsl(207,100%, 50%);
}

.explore-btn:hover {
    transform: scale(.98);
    background: hsl(207, 100%, 50%);;
    color: hsl(0,0%, 100%);
    border-color: hsl(207, 100%, 50%);;
    transition: all .2s ease-in-out;
}


.news-item .exposition a {
    color: var(--inverse-text-color);
}

.back-link,
.dl-link, 
.view-link {
    color: var(--main-text-color);
}

.news-item .exposition a,
.back-link,
.dl-link, 
.view-link {
    opacity: 1;
    transform: scale(1);
    transition: opacity .2s ease-in-out,
                transform .2s ease-in-out;
}


.news-item .exposition a:hover,
.back-link:hover,
.dl-link:hover,
.view-link:hover {
    transition: opacity .2s ease-in-out,
                transform .2s ease-in-out;
    opacity: .8;
    transform: scale(.95);
}

#current-members {
    margin-bottom: 32px;
}

#current-members,
#past-members {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#press, 
#projects,
#publications {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#publications, 
#press, 
#projects,
#current-members,
#past-members {
    grid-template-rows: auto;
    grid-gap: 8px 16px;
    margin-bottom: 32px;
}

.hint {
    opacity: .5;
    justify-self:center;
}

.team-member img {
    margin-right: 16px;
}

.project,
.press-item {
    color: unset;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.demo-vid {
    margin-bottom: 16px;
}

.demo-vid,
.press-item,  
.project,
.team-member {
    font-size: 12px;
    padding:24px;
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 0%, .1);
    border-top: 3px solid hsl(207, 100%, 50%);
    background: white;
}

.project:hover, 
.press-item:hover,
#current-members .team-member:hover {
    transition: transform .2s ease-in-out, border-top-color .2s ease-in-out;
    transform: scale(0.98);
    border-top-color: hsl(180, 100%, 50%);
}

.project-info h2,
.press-item .press-title {
    font-size: 1.4em;
    margin:0;
}

.project-image {
    width: 64px;
    height: 64px;
    margin-right: 24px;
    align-self: center;
}


.aside-nav {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgba(19, 19, 19, 0.9);
    border: 1px solid hsla(0, 0%, 0%, .1);
    position: sticky;
    align-self: flex-start;
    top: 16px;
    margin-top: 32px;
    margin-left: 24px;
    padding: 16px;
    border-radius: 5px;
}

.aside-nav hr {
    width: 100%;
    color: white;
    border: 1px solid;
}

.aside-nav a:hover {
    color: rgb(200,200,200);
}

.aside-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-nav li {
    margin: 4px 0;
}

.aside-nav a {
    margin: 4px 0;
}

.aside-nav ul li ul {
    padding-left: 8px;
    color:white;
}

.aside-nav ul li ul li::before {
    content: '->'
}

.aside-nav h4{
    color: white;
}

.aside-nav a {
    color: white;
}

.aside-nav a.active {
    color: rgba(102, 199, 255, 0.856);
}

.demo-vid{
    align-items:center;
}

.demo-vid h2 {
    margin: 0 0 16px;
}

.main-image {
    height: auto;
    float: left;
    margin: 0 16px 16px 0;
}

#footer {
    flex-shrink: 0;
    align-items:center;
    justify-content: center;
    height: 155px;
    color: var(--inverse-text-color);
    background: hsl(0, 0%, 8%);
}

.article-content p {
    clear:right;
}

/* Home Styles */

.jumbotron {
    background: linear-gradient(130deg, rgba(255,255, 255, 1) 0%, rgba(255, 255,255, .99) 33%, rgba(109, 210, 255, .8)  100%), url('../img/jumbotron.png') no-repeat;
    background-size: cover;
    background-position: center 25%;
}

#home section {
    padding: 32px 0;
    height: 400px;
}

#home #news {
    background: linear-gradient(45deg,#80D6FC, #5AFBDF);
}

#team {
    background: url('../img/team-photo.jpg') no-repeat 50vw;
    background-size: 50%;
}

#explore {
    background: url('../img/explore.png') no-repeat 0vw;
    background-size: 50%;
}

#team .section-content, #explore .section-content {
    width: 50%;
}

#explore .section-content {
    position: relative;
    left: 50%;
    margin-left: 32px;
}

#news button {
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    font-size: 1.25em;
    border:none;
    background: hsla(0, 0%, 0%, 0.33);
    transition: transform 0.2s ease-in-out;
}

.detail-container button:hover,
#news button:hover {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(.90);
}

.carosel {
    overflow: hidden;
    position: relative;
    width: 75%;
    height: 100%;
}

.news-item {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 12.5%;
    transform: translateY(-50%);
    display: none;
}

.news-item .exposition {
    color: var(--main-text-color);
    font-size: .9em;
}

.news-item .date {
    text-align: right;
    font-size: 1.1em;
}

.demo-section {
    margin: 32px 0;
    flex-grow:2;
}

.demo-article h1 {
    clear: both;
}

#content .demo-section h1.page-title {
    margin-top: 0;
}

.news-item.active {
    display: block;
}

.pub-section {
    color: unset;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.pub-section h2, .pub-section p, .pub-section h3 {
    color: hsla(0, 0%, 0%, .8);
}

.pub-section h3 {
    font-size: 1.4em;
}

.pub-section p {
    font-size: 1.2em;
}

.pub-section {
    align-items: center;
}

.pub-sec-total {
    align-items: center;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    border: solid 2px hsl(180, 100%, 50%);
}
 
.pub-section {
    font-size: 12px;
    padding:24px;
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 0%, .1);
    border-top: 3px solid hsl(207, 100%, 50%);
    background: white;
}

.pub-section:hover {
    transition: transform .2s ease-in-out, border-top-color .2s ease-in-out;
    transform: scale(0.98);
    border-top-color: hsl(180, 100%, 50%);
}


.pub-section h2 {
    font-size: 1.4em;
    margin:0;
}

.authors {
    padding: 0;
    margin: 0;
    list-style:none;
    flex-wrap: wrap;
    font-size: 1.1em;
    font-weight: 500;
}

.authors li {
    padding: 4px;
    margin: 4px 2px;
    border-radius: 5px;
    flex-shrink: 0;
}

.publication-list {
    justify-content: flex-start;
    margin: 32px 0;
    width: 100%;
}

ul.publication-list {
    list-style: none;
    padding: 0;
}

.publication {
    margin: 8px;
    font-size: 12px;
    padding:24px;
    border-radius: 3px;
    border: 1px solid hsla(0, 0%, 0%, .1);
    border-top: 3px solid hsl(207, 100%, 50%);
    background: white;
    clear: both;
}

.publication h3 {
    font-size: 1.5em;
}

.hidden {
    display:none;
}

.subtitle {
    margin-bottom: 24px;
    font-size: 0.85em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.description {
    font-size: 2em;
}

.half-width {
    width: 50%;
}

.section-content {
    box-sizing: border-box;
    height: 100%;
}

.detail-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: hsla(0, 0%, 0%, .5);
    align-items: center;
    justify-content: center;
}

.detail-container button {
    color: red;
    font-size: 1.3em;
    background: transparent;
    border: none;
}

.detail-container button:hover {
    cursor: pointer;
}

.highlight {
    color: #4AA2EA;
}

.related-publications {
    clear: both;
}

.member-card {
    border: 1px solid hsla(0, 0%, 0%, .1);
    width: 45%;
    padding: 32px;
    border-radius: 2px;
    background: white;
}

.demo-article {
    margin: 32px 0;
    flex-grow: 2;
    max-width: 75%;
    flex-shrink: 1;
}

.demo-article img {
    width: 85%;
    height: auto;
    object-fit: scale-down;
}

.demo-article table {
    border: solid 1px black;
    margin: 16px 0;
}
.demo-article table th,
.demo-article table td {
    padding: 4px;
}
.demo-article table th {
    background: rgb(255, 247, 223);
}

.demo-article table td {
    border: solid 1px black;
}

.demo-article a[href="http://creativecommons.org/licenses/by-nc-sa/3.0/"] {
    float: left;
    margin: 0 8px;
}

.demo-article img[alt="Creative Commons License"] {
    width: unset;
    height: unset;
}

.demo-article .float-r {
    float: right;
    width: unset;
    height: unset;
}

.demo-article p img {
    text-align: center;
}

.demo-article pre {
    background: hsla(0, 0%, 15%, .8);
    padding: 8px;
    color: white;
    width: unset;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 1500px ) {

    .navbar .container {
        width: inherit;
    }

    #team {
        background-size: contain;
    }

    #explore {
        background-size: contain;
        background-position-x: calc(100% - 50vw);
    }

}

@media (max-width:975px) {
    
    #team, #explore {
        background-size: 90%;
    }

}

@media (max-width:820px) {

    .brand {
        flex-shrink: 0;
    }
    
    .brand img {
        width: 48px;
        height: auto;
    }

    .navbar .brand span{
        display: none;
    }
    
    #home #team, #home #explore {
        height:unset;
        background-size: 100vw;
    }

    #home #team .section-content {
        margin-top: 70%;
    }
    
    #home #explore .section-content {
        margin-left: 0;
        margin-top: 77.5%;
    }

    #team, #explore {
        background-position: top;
    }

    #explore {
        background-size: 100vw;
    }

    .container.flex.f-row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .aside-nav {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        top: 16px;
        left: 0;
        margin-left: 0;
    }

    .demo-article {
        max-width: 100%;
    }

    #team .container, #explore .container {
        align-items: flex-start;
    }

    #explore .section-content {
        left: 0;
    }

    #team .section-content, #explore .section-content {
        width: 100%;
    }
}

@keyframes slideIn {
    from {
        transform: translate(500px, -50%);
    }

    to {
        transform: translate(0px, -50%);
    }
}