<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
    {{ partial "head.html" . }}
    {{ block "styles" . }}
    {{ end }}
    <link rel="preload" href="{{ "css/style.css" | absURL }}" as="style" />
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}" />
    <title>{{ .Title }} &ndash; {{ .Site.Title }}</title>
    </head>
    <body>
        {{ partial "header.html" . }}
        <main id="content">
        {{ block "main" . }}
        {{ end }}
        </main>
        {{ partial "footer.html" . }}
        {{ block "scripts" .}}
        {{ end }}
    </body>
</html>
