{{ partial "header" .}}

    <main>
    {{ if eq .Section "people" }}
        <div id="gallery" class="container grid">
        {{ range .Pages }}
            <figure class="image" 
                    data-name="{{ .Params.name }}" 
                    data-bio="{{ .Params.bio }}" 
                    data-position="{{ .Params.position }}"
                    data-education="{{ .Params.education }}">
                <h1>{{ .Params.name }}</h1>
                <h2>{{ .Params.position }}</h2>
                <img src="{{ .Params.image }}" alt="{{ .Params.name }}"/>
                <p>{{ .Params.bio }}</p>
            </figure>
        {{ end }}
        </div>
    {{ end }}

    {{ if eq .Section "projects" }}
        <h1>Projects</h1>
        {{ range .Pages }}
        <h2>{{ .Title }}</h2>
        <a href="{{ lower .Params.url }}">Link</a>
        {{ end }}
    {{ end }}

    {{ if eq .Section "publications" }}
        {{ range .Pages }}
            <h3>{{ .Name }}</h3>
            <p>{{ .Description }}</p>
            <p>{{ .Params.year  }}</p>
            <ul>
                {{ range .Params.authors }}
                <li>{{ .name }}</li>
                {{ end }}
            </ul>
            {{ if .Params.pdf }}
                it has a pdf
            {{ else if .Params.url }}
                it has a source
            {{ else }}
                Move along.
            {{ end }}
        {{ end }}
    {{ end }}
    </main>

{{ partial "footer" .}}