{{ define "main" }}
<div class="container flex f-row">
    <div class="demo-section">
        <h1 class="page-title text-center">{{ .Title }}</h1>
        {{ .Content }}
    </div>
    <aside class="aside-nav">
        <h4>Open Source</h4>
        <hr />
        <ul>
        {{ range .Sections }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            
                <ul>
                {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Params.short_title }}</a>
                    </li>
                {{ end }}
                </ul>
            </li>
        {{ end }}
        {{ range .Pages }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title | title }} Open Source</a>
            </li>
        {{ end }}
        </ul>
    </aside>
</div>
{{ end }}