{{ define "main" }}
    <div class="container">
        <h1 class="page-title text-center">{{ .Title }}</h1>
        <div id="publications" class="pub_section grid">
        {{ range .Sections.Reverse }}
        <a href="{{ .RelPermalink }}index.html" class="pub-section flex f-row f-jc-between">
            <div class="pub-sec-info">
                <h2>{{ .Title }}</h2>
                <p>Total papers:</p>
            </div>
            <div class="pub-sec-total flex f-jc-center">
                <h3>{{(len .Params.articles)}}</h3>
            </div>
        </a>
        {{ end }}
        </div>
    </div>
{{ end }}
